:root {
    --playstation: #006FCD;
    --xbox: #0e7a0d;
    --nintendo: rgb(228, 0, 15);
    --pc: purple;
    --all: #ccc;

}
.platform-button {
    padding: 10px 15px;
    border: 2px solid var(--all);
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .platform-button:hover {
    background-color: var(--all);
  }
  
  .platform-button[class*="playstation"] {
    border-color: var(--playstation);
    color: var(--playstation);
  }
  
  .platform-button[class*="playstation"].selected {
    background-color: var(--playstation);
    color: white;
  }
  
  .platform-button[class*="xbox"] {
    border-color: var(--xbox);
    color: var(--xbox);
  }
  
  .platform-button[class*="xbox"].selected {
    background-color: var(--xbox);
    color: white;
  }
  
  .platform-button[class*="nintendo"] {
    border-color: var(--nintendo);
    color: var(--nintendo);
  }
  
  .platform-button[class*="nintendo"].selected {
    background-color: var(--nintendo);
    color: white;
  }
  
  .platform-button[class*="pc"] {
    border-color: var(--pc);
    color: var(--pc);
  }
  
  .platform-button[class*="pc"].selected {
    background-color: var(--pc);
    color: white;
  }
  

  .selected {
    border-color: var(--all);
    color: white;
    background-color: var(--all);
  }